<div id="footer" class="footer">

	<div class="container container--lrg container--padded">

		<div id="contact">
		
			<h2 class="subheading">
				Contact
			</h2>

			<p class="text text--lrg">
				Interested in working together or just want to grab a beer sometime? Give me a shout.
			</p>

			<a class="hyperlink hyperlink--lrg text text--accent-1 js-event-tracker" href="mailto:{{ site.email }}" target="_top" data-event-category="Email links" data-event-action="Click" data-event-label="Footer">
				{{ site.email }}
			</a>

			<p class="text">
				or find me on <a class="hyperlink js-event-tracker" href="https://github.com/{{ site.github }}" target="_blank" rel="noopener noreferrer" data-event-category="Social links" data-event-action="Click" data-event-label="Github">github</a> / <a class="hyperlink js-event-tracker" href="http://{{ site.deviantart }}.deviantart.com" target="_blank" rel="noopener noreferrer" data-event-category="Social links" data-event-action="Click" data-event-label="DeviantArt">deviantart</a> / <a class="hyperlink js-event-tracker" href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank" rel="noopener noreferrer" data-event-category="Social links" data-event-action="Click" data-event-label="LinkedIn">linkedin</a>
			</p>

		</div>

	</div>

</div>
