<div id="footer" class="footer">

	<div class="container container--lrg container--padded">

		<div id="contact">
		
			<h2 class="subheading">
				Contact
			</h2>

			<p class="text text--lrg">
				Interested in working together or just want to grab a beer sometime? Give me a shout.
			</p>

			<a class="hyperlink hyperlink--lrg text text--accent-1" href="mailto:{{ site.email }}" target="_top">
				{{ site.email }}
			</a>

			<p class="text">
				or find me on <a class="hyperlink" href="https://github.com/{{ site.github }}" target="_blank" rel="noopener noreferrer">github</a> / <a class="hyperlink" href="http://{{ site.deviantart }}.deviantart.com" target="_blank" rel="noopener noreferrer">deviantart</a> / <a class="hyperlink" href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank" rel="noopener noreferrer">linkedin</a>
			</p>

		</div>

	</div>

</div>
