<footer id="footer" class="footer">

	<div class="container">

		<h4 class="heading">
			{{ site.author }}<br />
		</h4>

		<h6 class="subheading">
			Web development &amp; design &#149; Concept art &#149; Illustration
		</h6>

		<div class="footer__contact">
			
			<div class="t--center">

				<a href="{{ site.baseurl }}/">
					<img src="https://placeholdit.imgix.net/~text?txtsize=20&txt=logo&w=64&h=64" alt="Logo illustration of a wolf" />
				</a>
				
			</div>

		</div>

		<div class="footer__social">

			{% if site.github_username %}
			<a href="https://github.com/{{ site.github_username }}" target="_blank">
				{% include svg/icon-github.svg %}
			</a>
			{% endif %}

			{% if site.twitter_username %}
			<a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
				{% include svg/icon-twitter.svg %}
			</a>
			{% endif %}

		</div>

	</div>

</footer>
