<header id="header" class="header">

	<a class="header__logo" href="{{ site.baseurl }}/">
		{% include svg/logo.svg %}
	</a>

	<nav id="nav" class="nav" role="navigation">

		<a class="nav__item {% if page.url == '/about/' %}is-active{% endif %}" href="/about">
			About
		</a>

		<a class="nav__item {% if page.url == '/case-studies/' %}is-active{% endif %}" href="/case-studies">
			Case studies
		</a>

		<a class="nav__item {% if page.url == '/blog/' %}is-active{% endif %}" href="/blog">
			Blog
		</a>

		<a class="nav__item js-scroll" href="#contact" data-target="contact">
			Contact
		</a>

		<div class="nav__highlight"></div>

	</nav>

	<button id="js-burger" class="header__burger">
		<span></span>
		<span></span>
		<span></span>
	</button>

</header>