<header id="header" class="header">

	<nav id="nav" class="nav" role="navigation">

		<a class="nav__item js-scroll" href="#about" data-target="about">
			About
		</a>

		<a class="nav__item js-scroll" href="#work" data-target="work">
			Work
		</a>

		<a class="nav__item js-scroll" href="#contact" data-target="contact">
			Contact
		</a>

		<div class="nav__highlight"></div>

	</nav>

	<a class="header__logo" href="{{ site.baseurl }}/">
		<img src="https://placeholdit.imgix.net/~text?txtsize=20&txt=logo&w=64&h=64" alt="Logo illustration of a wolf" />
	</a>

</header>