# Ignore hidden folders like .tmp, .sass-cache, etc
.*/

# Source files
## Ignore the concatenated scripts as we're already commiting them in the dist submodule
_src/assets/js/main.js

# Other
node_modules/