---
layout: default
title: Home
permalink: /
order: 1
---

<div class="logo t--center">
	<!-- <img src="{{ site.baseurl }}/assets/img/logo.png" alt="Logo illustration of a wolf" /> -->

	<img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=logo&w=250&h=250" alt="Logo illustration of a wolf" />

</div>

<div class="t--center">

	<h1 class="heading">
		Razvan Negrea

	</h1>
	
</div>

{% include partials/about.html %}
{% include partials/work.html %}
{% include partials/contact.html %}
