<div id="about" class="section section--partial section--about">

	<div class="t--center">

		<h6 class="subheading bordered">
			About<br />
			<span>Something something</span>

				<div class="border border--top"></div>
				<div class="border border--right"></div>
				<div class="border border--bottom"></div>
				<div class="border border--left"></div>

		</h6>

	</div>

	<p class="text">
		Lorem ipsum dolor sit amet, mei aperiam offendit lucilius eu, vidit persequeris necessitatibus in mea. Ne tantas interesset has. Animal eripuit quo no. Mollis melius evertitur sea ea, sed laboramus incorrupte accommodare ad. Ne impedit interesset vel, cu est delicata interesset.<br /><br />

		Te erant labores quo, impetus veritus noluisse ne mea, cu paulo ludus malorum mei. Verear delicata sit et, has et illum eirmod efficiantur. Et vidit aeterno sed. Possit partiendo vituperatoribus et sit. Stet alterum accusamus nam id. Et mei putent legendos voluptatibus, minimum conceptam id qui. In cum graece gloriatur incorrupte, ne eius mucius sententiae vix, inimicus euripidis ne vim. Te pri denique omittam sensibus, in enim falli corrumpit mea. Saepe numquam no mei, mei augue paulo recteque at, ut veniam virtute pro. Aperiam luptatum at vix, ubique saperet te cum.<br /><br />

		No error movet detraxit est, vis ex essent eleifend. Cum no sint quando docendi, etiam volumus ex pri. Eam euismod <a href="#">detracto ullamcorper</a> te. Vel cu sint minimum urbanitas. Sit at mutat timeam, ad vide sanctus expetendis eam.
	</p>

</div>
