<div id="contact" class="section section--padded section--contact">

	<div class="t--center">

		<div class="bordered">

			<div class="border border--top"></div>
			<div class="border border--right"></div>
			<div class="border border--bottom"></div>
			<div class="border border--left"></div>

			<h4 class="heading">
				Contact<br />
			</h4>

			<h6 class="subheading">
				Get in touch
			</h6>
			
		</div>

		<p class="text text--lrg">
			Interested in working together or just want to grab a beer sometime? Give me a shout.
		</p>
		
		<a class="hyperlink hyperlink--lrg" href="mailto:{{ site.email }}">
			{{ site.email }}
		</a>

		<div class="social">
			<a class="hyperlink hyperlink--alt" href="https://github.com/{{ site.github }}" target="_blank" rel="noopener noreferrer">github</a> / <a class="hyperlink hyperlink--alt" href="http://{{ site.deviantart }}.deviantart.com" target="_blank" rel="noopener noreferrer">deviantart</a> / <a class="hyperlink hyperlink--alt" href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank" rel="noopener noreferrer">linkedin</a>
		</div>

	</div>

</div>
