<div id="intro" class="section section--padded section--intro">

    <div class="container container--lrg container--padded">

        <div class="row row--spaced">
            
            <div class="logo t--center">

                <img src="/assets/img/wolf.jpg" alt="Illustration of a wolf wearing pilot goggles" />

            </div>
        
        </div>

    </div>

    <div class="container container--sml container--padded">

        <div class="row row--spaced">

            <p class="text text--lrg t--center">
                My name is <span class="text text--accent-1">Razvan Negrea</span>. I'm a creative web developer, concept artist and illustrator, which is fancy talk for just saying that I enjoy making things, moving things especially.
            </p>

        </div>

    </div>

</div>