<div id="work" class="section section--partial section--work">

	<div class="t--center">

		<h6 class="subheading bordered">
			Work<br />
			<span>Go go power rangers!</span>

				<div class="border border--top"></div>
				<div class="border border--right"></div>
				<div class="border border--bottom"></div>
				<div class="border border--left"></div>

		</h6>

	</div>

	<div class="showcase">

		<div class="showcase__header">
			
			<button class="btn btn--simple">
				Featured
			</button>

		</div>

		<div class="showcase__content">
			


		</div>
		
	</div>

</div>
