<div id="work" class="section section--padded section--work">

	<div class="t--center">

		<div class="bordered">

			<div class="border border--top"></div>
			<div class="border border--right"></div>
			<div class="border border--bottom"></div>
			<div class="border border--left"></div>

			<h4 class="heading">
				Work<br />
			</h4>

			<h6 class="subheading">
				Go go power rangers!
			</h6>
			
		</div>

	</div>

	<div id="js-showcase" class="showcase">

		<div id="js-showcase-nav" class="showcase__nav">
			
			{% for category in site.data.projects.categories %}

				<button class="showcase__nav-item {% if forloop.first == true %}is-active{% endif %}" data-category="{{ category }}">
					{{ category }}
				</button>

			{% endfor %}

		</div>

		<div id="js-showcase-content" class="showcase__content js-showcase">

			{% for project in site.data.projects.projects %}

				<div class="showcase__project js-showcase-project {% if project.tags contains 'featured' %}is-visible{% endif %}" data-target="modal-{{ project.name | replace: ' ', '-' | downcase }}" data-tag="{{ project | map: 'tags' | join: ', ' }}">

					<img class="showcase__project-img" {% if project.tags contains 'featured' %}src{% else %}data-lazyload-src{% endif %}="{{ site.baseurl }}/assets/img/projects/{{ project.name }}/thumb.jpg" alt="" />

					<div class="showcase__project-overlay">

						<div class="showcase__project-details">

							<h2 class="showcase__project-name">
								{{ project.name }}
							</h2>

							<div class="clear"></div>

							<p class="showcase__project-description">
								{{ project.description }}
							</p>

							<div class="showcase__project-footer">

								{% if project.links %}

									{% for link in project.links %}

										<a class="showcase__project-link icon" href="{{ link.url }}" {% if link.type == "ext" %}target="_blank"{% endif %}>
											{% if link.type == "int" %}
												{% include svg/link-internal.svg %}
											{% else %}
												{% include svg/link-external.svg %}
											{% endif %}
										</a>

									{% endfor %}

								{% endif %}

							</div>

						</div>

					</div>

				</div>

			{% endfor %}

		</div>
		
	</div>

	<div id="js-modal" class="modal">

		<button id="js-modal--close" class="btn modal__close" data-target="#modal-showcase">
			x
		</button>

		<div class="modal__slider">

			{% for project in site.data.projects.projects %}

				<img class="modal__img" id="modal-{{ project.name | replace: ' ', '-' | downcase }}" data-lazyload-src="{{ site.baseurl }}/assets/img/projects/{{ project.name }}/full.jpg" alt="" />

			{% endfor %}

		</div>

		<div class="modal__nav">
			
			<button id="js-modal--prev" class="btn btn__ctrl btn__ctrl-prev">
				{% include svg/prev.svg %}
			</button>

			<button id="js-modal--next" class="btn btn__ctrl btn__ctrl-next">
				{% include svg/next.svg %}
			</button>

		</div>

	</div>

</div>
