.container {

	max-width: 1180px;
	margin: 0 auto;

    &--sml {

        max-width: 640px;

    }

    &--lrg {

        max-width: 1600px;

    }

	&--padded {

		padding-right: 10px;
		padding-left: 10px;

	}

}