.container {

	max-width: 1180px;
	margin: 0 auto;

}

.section {

	&--partial {

		padding-top: 40px;
		padding-bottom: 40px;

	}

}

/** Grid */
// Based on Foundation's responsive grid

.row {

	position: relative;
	margin-left: auto;
	margin-right: auto;

	&:before,
	&:after {

		content: ' ';
		display: table;

	}

	&:after {

		clear: both;

	}

	.row {

		margin-left: -0.625rem;
		margin-right: -0.625rem;

		@media screen and (min-width: 40em) {

			margin-left: -0.9375rem;
			margin-right: -0.9375rem;

		}

	}

}

.columns {

	float: left;
	width: 100%;
	padding-left: 0.625rem;
	padding-right: 0.625rem;

	@media screen and (min-width: 40em) {

		.columns {

			padding-left: 0.9375rem;
			padding-right: 0.9375rem;

		}
		
	}

}

.columns:last-child:not(:first-child) {

    float: right;

}

.row.row.columns {

    float: none;

}

.row .row.row.columns {

    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    
}