---
layout: default
title: Case studies
permalink: /case-studies/
---

<div id="case-studies" class="case-studies">

	<div class="row">
		
		<div class="container container--padded">

			<h1 class="heading heading--alt t--center">
				{{ page.title }}
			</h1>

		</div>

	</div>

	<div class="row row--spaced">

		<div class="container container--lrg container--padded">

			<div id="case-studies-wrapper" class="case-studies__wrapper">

				{% comment %}Display from newest to oldest{% endcomment %}
				{% assign case_studies = site.case-studies | reverse %}

				{% assign all_tags = "" | split: "" %}

				{% for case_study in case_studies %}

					{% assign tags = case_study.tags %}

					{% for tag in tags %}

						{% assign all_tags = all_tags | push: tag %}

					{% endfor %}

				{% endfor %}

				{% assign unique_tags = all_tags | uniq %}

				<div class="case-studies__nav">

					<a class="case-studies__nav-item" href="/case-studies" data-target="all">
						All
					</a>

					{% for tag in unique_tags %}
						<a class="case-studies__nav-item" href="/case-studies?tag={{ tag | downcase | replace: ' ', '-' }}" data-target="{{ tag | downcase | replace: ' ', '-' }}">
							{{ tag }}
						</a>
					{% endfor %}

				</div>

				<div id="case-studies-items" class="case-studies__items">

					{% for case_study in case_studies %}

						<a class="case-studies__item is-hidden" href="{{ case_study.id }}" data-tags='{{ case_study.tags | jsonify | downcase | replace: ' ', '-' }}'>

							<img class="case-studies__image" data-lazyload-src="/assets/projects/{{ case_study.id | replace: 'case-studies/', '' }}/case-study/preview.jpg" alt="" />
								
							<div class="case-studies__overlay">

								<div class="case-studies__details">

									<div class="table">

										<div class="table__cell table__cell--middle">
										
											<h2 class="case-studies__title subheading">
												{{ case_study.title }}
											</h2>

											<p class="case-studies__type text">
												&bull; {{ case_study.category }} &bull;
											</p>

											<hr class="case-studies__separator" />

											<p class="case-studies__excerpt text">
												{{ case_study.excerpt }}
											</p>

										</div>

									</div>

								</div>

							</div>

						</a>
					{% endfor %}

				</div>

			</div>

		</div>

	</div>

</div>