---
layout: default
title: Case studies
permalink: /case-studies/
---

<div class="section section--padded section--case-studies">

	<div class="container container--lrg container--padded">

		<h1 class="title">
			{{ page.title }}
		</h1>

		<div id="case-studies" class="case-studies">

			{% comment %}Display from newest to oldest{% endcomment %}
			{% assign case_studies = site.case-studies | reverse %}

			{% assign all_tags = "" | split: "" %}

			{% for case_study in case_studies %}

				{% assign tags = case_study.tags %}

				{% for tag in tags %}

					{% assign all_tags = all_tags | push: tag %}

				{% endfor %}

			{% endfor %}

			{% assign unique_tags = all_tags | uniq %}

			<div class="case-studies__nav">

				<a class="case-studies__nav-item" href="/case-studies" data-target="all">
					all
				</a>

				{% for tag in unique_tags %}
					<a class="case-studies__nav-item" href="/case-studies?tag={{ tag | downcase | replace: ' ', '-' }}" data-target="{{ tag | downcase | replace: ' ', '-' }}">
						{{ tag }}
					</a>
				{% endfor %}

			</div>

			<div class="case-studies__items">

				{% for case_study in case_studies %}

					<div class="case-studies__item is-hidden" data-tags='{{ case_study.tags | jsonify | downcase | replace: ' ', '-' }}'>

						<img class="case-studies__image" data-lazyload-src="/assets/projects/{{ case_study.id | replace: 'case-studies/', '' }}/case-study/preview.jpg" alt="" />

						<div class="case-studies__overlay">

							<a class="case-studies__details" href="{{ case_study.id }}">

								<table class="table">

									<tr class="table__row">

										<td class="table__cell table__cell--middle">

											<h2 class="case-studies__title subheading">
												{{ case_study.title }}
											</h2>

											<p class="case-studies__category text text--sml">
												&bull; {{ case_study.category }} &bull;
											</p>

											<hr class="case-studies__separator" />

											<p class="case-studies__tagline text">
												{{ case_study.tagline }}
											</p>

											<p class="case-studies__read-more text text--sml">
												Read more
											</p>

										</td>

									</tr>

								</table>

							</a>

						</div>

					</div>

				{% endfor %}

			</div>

		</div>

	</div>

</div>
