---
layout: default
title: Home
permalink: /
---

<div class="splash">

	<div class="splash__image"></div>

	<div class="splash__wrapper">
		
		<div class="splash__overlay"></div>

		<div class="table">
		
			<div class="table__cell table__cell--middle">

				<div class="container container--padded">

					<div class="splash__text">
						
						<h1 class="splash__heading">
							<span>
								{{ site.author | upcase }}
							</span>
						</h1>

						<h4 class="splash__subheading">
							Web development &amp; design &#149; Concept art &#149; Illustration
						</h4>

					</div>
				
				</div>

			</div>
			
		</div>

	</div>

</div>

{% include partials/intro.html %}
{% include partials/work.html %}
