---
layout: default
title: Razvan Negrea – Creative front-end developer, concept artist & illustrator
permalink: /
---

<div class="splash">

	<div class="splash__image"></div>

	<div class="splash__wrapper">

		<div class="splash__overlay"></div>

		<table class="table">

			<tr class="table__row">

				<td class="table__cell table__cell--middle">

					<div class="container container--padded">

						<div class="splash__text">

							<h1 class="splash__heading">
								<span>
									{{ site.author | upcase }}
								</span>
							</h1>

							<h4 class="splash__subheading">
								Web development &amp; design &#149; Concept art &#149; Illustration
							</h4>

							<a class="scroll js-scroll js-event-tracker" href="#intro" data-target="intro" data-event-category="CTA" data-event-action="Click" data-event-label="Intro scroll">

								<span class="scroll__mouse">

									<span class="scroll__wheel"></span>

								</span>

								<span class="scroll__cta">
									scroll
								</span>

							</a>

						</div>

					</div>

				</td>

			</tr>

		</table>

	</div>

</div>

{% include partials/intro.html %}
{% include partials/work.html %}
