/*-----------------------------------------------------------------------------
----------------------------1--------$MIXINS-----------------------------------
-------------------------------------------------------------------------------*/


// --------------------------------------------------------------------------- //
// ----------------------- MEDIA QUERIES ------------------------------------- //
// --------------------------------------------------------------------------- //

@mixin mq($viewports, $constraint1: max, $constraint2: width) {

	// Set default variables
	$min: min-#{$constraint2};
	$max: max-#{$constraint2};

	@if(type-of($viewports) == number) {
		@media screen and (#{$constraint1}-#{$constraint2}: $viewports) {
			@content;
		}
	} @else {
		@media screen and ($min: nth($viewports, 1)) and ($max: nth($viewports, 2)) {
			@content;
		}
	}

}

// USAGE:
//
// ---- for max-width media query ----
//
//  @include mq(1080px) {
//      display:none;
//  }
//
// ---- for min-width media query ----
//
//  @include mq(1080px, min) {
//      display:none;
//  }
//
// ---- OR for min-max ----
//
// @include mq((700px, 780px)) {
//     display:block;
// }
//
// ---- for max-height media query ----
//
//  @include mq(1080px, max, height) {
//      display:none;
//  }
//
// ---- for min-height media query ----
//
//  @include mq(1080px, min, height) {
//      display:none;
//  }
//
// ---- for min-max height media query ----
//
//  @include mq((700px, 780px), null, height) {
//      display:none;
//  }

// --------------------------------------------------------------------------- //
// ------------------------------- FONTS ------------------------------------- //
// --------------------------------------------------------------------------- //

// px to rem for font-sizes and line-height
@mixin font-size($sizeValue: 1.6, $line: 1.25){
	font-size: ($sizeValue * 1) + px;
	font-size: ($sizeValue / 10) + rem;
	line-height: $line;
}
// usage: @include font-size(13);

// Clearfix
@mixin clearfix {

	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear:both;
	}

	& {
		*zoom:1;
	}
}