/* Mozilla based browsers */
::-moz-selection {
	background-color: $accent-1;
	color: $black;
}

/* Works in Safari */
::selection {
	background-color: $accent-1;
	color: $black;
}

/* Works in Opera */
::-o-selection {
	background-color: $accent-1;
	color: $black;
}
::-ms-selection {
	background-color: $accent-1;
	color: $black;
}

/* Works in Internet Explorer */
::-webkit-selection {
	background-color: $accent-1;
	color: $black;
}