/* Mozilla based browsers */
::-moz-selection {
	background-color: transparentize($accent-2, 0.6);
	color: $black;
}

/* Works in Safari */
::selection {
	background-color: transparentize($accent-2, 0.6);
	color: $black;
}

/* Works in Opera */
::-o-selection {
	background-color: transparentize($accent-2, 0.6);
	color: $black;
}
::-ms-selection {
	background-color: transparentize($accent-2, 0.6);
	color: $black;
}

/* Works in Internet Explorer */
::-webkit-selection {
	background-color: transparentize($accent-2, 0.6);
	color: $black;
}