/**
 * Typography
 *******************************************/

// important to define 62.5% for [rem] font conversion
html {

    font-size: 62.5%;
    line-height: 62.5%;

}

body {

    color: $d-grey;

    font-family: $primaryFont;
    @include font-size($base-font-size);
    font-weight: normal;
    text-align: left;

}

p {

    margin: 0 0 10px;

    color: $d-grey;

    font-family: $primaryFont;
    @include font-size($p-size, 1.7);

    a {

        padding-bottom: 0px;

        color: $accent-1;
        border-bottom: 1px dotted $accent-1;

        &:hover {

            color: $accent-1;
            border: none;

            text-decoration: none;

        }

    }

}

li {

    font-family: $primaryFont;
    @include font-size($p-size);

}

a {

    color: $black;

    text-decoration: none;

    transition: color 0.15s ease-in-out;

    &:hover,
    &:active {

        color: $black;

        text-decoration: none;

    }

}

address a {

    &:hover {

        text-decoration: underline;

    }

}


/**
 * HEADINGS
 *******************************************/

%headings {

    margin: 0 0 10px 0;

    font-family: $secondaryFont;
    font-weight: normal;

}

h1, .h--alpha {

    @extend %headings;
    @include font-size($alpha-size);

    @include mq($mq-mob--lrg) {

        @include font-size($beta-size);

    }

}

h2, .h--beta {

    @extend %headings;
    @include font-size($beta-size);

    @include mq($mq-mob--lrg) {

        @include font-size($gamma-size);

    }

}

h3, .h--gamma {

    @extend %headings;
    @include font-size($gamma-size);

    @include mq($mq-mob--lrg) {

        @include font-size($delta-size);

    }

}

h4, .h--delta {

    @extend %headings;
    @include font-size($delta-size);

    @include mq($mq-mob--lrg) {

        @include font-size($epsilon-size);

    }

}

h5, .h--epsilon {

    @extend %headings;
    @include font-size($epsilon-size);

    @include mq($mq-mob--lrg) {

        @include font-size($zeta-size);

    }

}

h6, .h--epsilon {

    @extend %headings;
    @include font-size($zeta-size);

    @include mq($mq-mob--lrg) {

        @include font-size($eta-size);

    }

}

.title {

    display: inline-block;
    margin-bottom: 20px;

    border-bottom: 3px dashed $accent-1;
    color: $carbon;

    @include font-size(64, 1);
    font-weight: bold;
    text-transform: initial;

    @include mq($mq-mob--lrg, min) {

        border-width: 4px;

        @include font-size(90, 1);

    }

    @include mq($mq-tab--lrg, min) {

        @include font-size(144, 1);

    }

}

.text {

    &--sml {

        @include font-size(14);

        @include mq($mq-mob--lrg, min) {

            @include font-size(15);
            
        }

    }

    &--lrg {

        margin-bottom: 20px;

        color: $grey;

        @include font-size(20);

        @include mq($mq-mob--lrg, min) {

            @include font-size(24);
            
        }

    }

    &--accent-1 {

        color: $accent-1;

    }

    &--flush {
        
        margin-bottom: 5px;

    }

}

.hyperlink {

    &--lrg {

        display: inline-block;
        margin-bottom: 20px;

        border-bottom: none;

        @include font-size(28);

        @include mq($mq-mob, min) {

            @include font-size(36);

        }

        @include mq($mq-mob--lrg, min) {

            @include font-size(48);

        }

        @include mq($mq-tab--lrg, min) {

            @include font-size(64);

        }

    }

}

.list {

    list-style: circle;

    &__item {

        @include font-size($base-font-size, 1.9);

    }

}