button,
.btn {

	padding: 10px;

	background: transparent;
	outline: none;
	border: none;

	font-family: $tertiaryFont;
	@include font-size(12);
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;

	cursor: pointer;

}