button,
.btn {

	padding: 10px;

	background-color: transparent;
	outline: none;
	border: none;

	font-family: $tertiaryFont;
	@include font-size(12);
	text-align: center;

	cursor: pointer;

	@include mq($mq-mob--lrg, min) {

		@include font-size(14);

	}

	&__ctrl {

		margin-right: 10px;
		margin-left: 10px;
		padding: 0 3px;

		&:hover {

			svg {

				fill: $accent-1;

			}

		}

		svg {
			/* allows clicking the parent element
			 * without setting pointer-events: none
			 */
			position: relative;
			z-index: -1;

			fill: $d-grey;

			overflow: visible;

			transition: fill 0.15s ease-in-out;

		}

	}

	&__ctrl-prev {

		&:hover {

			.path__triangle {

				transform: translateX(-3px);

			}

		}

		.path {

			&__triangle {

				transform: translateX(0);

				transition: transform 0.15s ease-in-out;

			}

		}

	}

	&__ctrl-next {

		&:hover {

			.path__triangle {

				transform: translateX(3px);

			}

		}

		.path {

			&__triangle {

				transform: translateX(0);

				transition: transform 0.15s ease-in-out;

			}

		}

	}

}
