.case-studies {

	position: relative;
	margin-top: 10px;

	&__nav {

		margin-bottom: 30px;

		@include font-size(0);

		@include mq($mq-mob--lrg, min) {

			border-bottom: 1px solid $l-grey;

		}

		@include mq($mq-desk--lrg, min) {

			position: absolute;
			right: 0;
			width: 300px;
			margin-bottom: 0;
			padding-right: 10px;
			padding-left: 10px;

			border-bottom: none;

			text-align: center;

		}

	}

	&__nav-item {

		display: block;
		margin-top: 5px;
		margin-bottom: 5px;
		padding: 10px;

		border-top: 1px dotted $l-grey;
		border-bottom: 1px dotted $l-grey;
		color: $d-grey;

		font-family: $primaryFont;
		@include font-size(12);
		text-align: center;

		transition: border-color 0.15s ease-in-out,
		            color 0.15s ease-in-out;

		@include mq($mq-mob--lrg, min) {

			display: inline-block;
			margin: auto;

			border: none;

			@include font-size(14);

		}

		@include mq($mq-desk--lrg, min) {

			display: block;
			width: 100%;

			border: none;

			@include font-size($base-font-size);
			text-align: right;

			transition: color 0.2s ease-in-out,
			            transform 0.2s ease-in-out;

		}

		&:hover {

			border-top: 1px solid $accent-1;
			border-bottom: 1px solid $accent-1;
			color: $accent-1;

			@include mq($mq-mob--lrg, min) {

				border: none;
				
			}

			@include mq($mq-desk--lrg, min) {

				transform: translateX(-10px);
				
			}

		}

		&.is-active {

			border-top: 1px solid $accent-1;
			border-bottom: 1px solid $accent-1;
			color: $accent-1;

			@include mq($mq-mob--lrg, min) {

				border: none;
				
			}

			@include mq($mq-desk--lrg, min) {

				transform: translateX(-10px);
				
			}

		}

	}

    &__items {

		@include mq($mq-tab--lrg, min) {

			font-size: 0;

		}

		@include mq($mq-desk--lrg, min) {

			padding-right: 300px;

		}

    }

	&__item {

		position: relative;
		display: block;
		max-width: 640px;
		margin: 0 auto 20px;

		@include mq($mq-mob, min) {

			margin-bottom: 40px;

		}

		@include mq($mq-tab--lrg, min) {

			display: inline-block;
			vertical-align: top;
			width: 50%;
			margin-bottom: 0;
			padding-bottom: 0;

			overflow: hidden;

		}

		&.is-hidden {

			display: none;

		}

	}

	&__overlay {

		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;

		background-color: transparentize($white, 0.05);

		opacity: 0;
		visibility: hidden; // prevents initial action on touch devices

		transition: opacity cubic-bezier(0.4, 0.6, 0.6, 1) 0.35s,
		            visibility cubic-bezier(0.4, 0.6, 0.6, 1) 0.35s;

		.case-studies__item:hover &,
		.case-studies__item:focus & {

			opacity: 1;
			visibility: visible;

		}

	}

	&__image {

		display: block;
		margin-bottom: 20px;

		@include mq($mq-mob, min) {

			margin-bottom: 40px;

		}

		@include mq($mq-tab--lrg, min) {

			margin-bottom: 0;

			transition: transform cubic-bezier(0.39, 0.58, 0.57, 1) 0.5s;

			.case-studies__item:hover &,
			.case-studies__item:focus & {

				transform: scale(1.1);

			}

		}

	}

	&__details {

		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin-top: 0;
		margin-bottom: 0;
		padding: 15px;

		text-align: center;
		
		transform: translateY(15px);
		filter: hue-rotate(-270deg);

		transition: transform 0.35s linear,
		            filter 0.35s linear;

		.case-studies__item:hover &,
		.case-studies__item:focus & {

			transform: translateY(0);
			filter: hue-rotate(0deg);

		}

	}

	&__title {

		margin-bottom: 10px;

		color: $accent-1;

		font-family: $secondaryFont;
		text-transform: initial;

		@include mq($mq-tab--lrg, min) {

			@include font-size(48);

		}

	}

	&__category {

		color: $accent-1;

		font-family: $tertiaryFont;
		text-align: center;
		letter-spacing: 1px;

	}

	&__separator {

		display: block;
		margin-top: 20px;
		margin-bottom: 20px;
		width: 50px;
		height: 2px;

		background-color: $accent-1;
		border: none;

	}

	&__tagline {

		display: none;

		@include mq($mq-desk, min) {

			display: block;

			max-width: 80%;
			margin: 0 auto 20px;

			color: $accent-1;

		}

	}

	&__read-more {

		color: $accent-1;

		text-transform: uppercase;
		letter-spacing: 2px;

		@include mq($mq-desk, min) {

			display: none;

		}

	}

}