figure {

	margin: 0;

	text-align: center;

}

figcaption {

	margin-bottom: 20px;
	padding-right: 15%;
	padding-left: 15%;

	color: $grey;

	@include font-size($eta-size);
	text-align: center;

}