.nav {

	position: fixed;
	width: 100%;
	top: 50%;
	left: 0;

	@include transform(translateY(-50%));

	@include font-size(0);

	visibility: hidden;
	@include opacity(0);

	@include transition(
		visibility 0.25s ease-in-out,
		opacity 0.25s ease-in-out
	);

	.header.is-active & {

		visibility: visible;
		@include opacity(1);

	}

	@include mq($mq-mob, min) {

		position: relative;
		float: left;
		top: auto;
		width: auto;;
		height: 100%;
		min-width: 250px;

		@include transform(none);

		@include opacity(1);
		visibility: visible;

	}

	&__item {

		display: block;

		position: relative;
		height: 100%;
		padding-right: 15px;
		padding-left: 15px;

		color: $quaternaryColor;

		font-family: $tertiaryFont;
		@include font-size(30, 72);
		text-align: center;
		letter-spacing: 4px;

		@include opacity(0);
		@include transform(translateY(-20px));

		@include transition(
			color 0.35s ease-in-out,
			opacity 0.35s ease-in-out,
			transform 0.35s ease-in-out
		);

		@for $i from 1 through 3 {

			&:nth-child(#{$i}) {

				transition-delay: 0.1s * $i;

			}

		}

		&:hover,
		&.is-active {

			color: $tertiaryColor;

			@include mq($mq-mob, min) {

				color: $primaryColor;

			}

		}

		.header.is-active & {

			@include opacity(1);
			@include transform(translateY(0));

		}

		@include mq(400px, min) {

			@include font-size(36, 90);

		}

		@include mq($mq-mob, min) {

			display: inline-block;
			width: 33.33%;

			@include font-size(10, 60);
			text-transform: uppercase;
			letter-spacing: 2px;
			text-align: center;

			@include opacity(1);
			@include transform(none);

			@include transition(color 0.25s ease-in-out);

			// For the sake of specificity, we'll have to double up these loops
			@for $i from 1 through 3 {

				&:nth-child(#{$i}) {

					&.is-active {

						& ~ .nav__highlight {

							@include transform(translateX( ($i - 1) * 100%));

						}

					}

				}

			}

			@for $i from 1 through 3 {

				&:nth-child(#{$i}) {

					&:hover {

						& ~ .nav__highlight {

							@include transform(translateX( ($i - 1) * 100%));

						}

					}

				}

			}

		}

	}

	&__highlight {

		display: none;

		position: absolute;
		bottom: -1px;
		left: 0;

		width: 33.33%;
		height: 0.2rem;

		background: $tertiaryColor;

		transition: transform 0.25s ease-in-out;

		@include mq($mq-mob, min) {

			display: block;

		}

	}

}