.nav {

	position: relative;
	float: left;
	min-width: 250px;
	height: 100%;

	@include font-size(0);

	&__item {

		position: relative;
		display: inline-block;
		width: 33.33%;
		height: 100%;
		padding-right: 15px;
		padding-left: 15px;

		color: $quaternaryColor;

		font-family: $tertiaryFont;
		@include font-size(10, 60);
		text-transform: uppercase;
		letter-spacing: 2px;
		text-align: center;

		// For the sake of specificity, we'll have to double up these loops
		@for $i from 1 through 3 {

			&:nth-child(#{$i}) {

				&.is-active {

					& ~ .nav__highlight {

						@include transform(translateX( ($i - 1) * 100%));

					}

				}

			}

		}

		@for $i from 1 through 3 {

			&:nth-child(#{$i}) {

				&:hover {

					& ~ .nav__highlight {

						@include transform(translateX( ($i - 1) * 100%));

					}

				}

			}

		}

	}

	&__highlight {

		position: absolute;
		bottom: 0;
		left: 0;

		width: 33.33%;
		height: 0.2rem;

		background: $tertiaryColor;

		transition: transform 0.25s ease-in-out;

	}

}