.nav {

	float: left;
	height: 100%;

	@include font-size(0);

	&__item {

		display: inline-block;
		position: relative;
		height: 100%;
		margin: 0 15px;

		color: $quaternaryColor;

		font-family: $tertiaryFont;
		@include font-size(10, 60);
		text-transform: uppercase;
		letter-spacing: 2px;

		&:hover {

			&:after {

				max-width: 100%;

			}

		}

		&.is-active {

			border-bottom: 2px solid $tertiaryColor;

		}

		&:after {

		    content: "";
		    position: absolute;
		    top: 50%;
		    left: 0;
		    right: 0;
		    max-width: 0;
		    margin: 1px 0 0;

		    border-top: 1px $tertiaryColor solid;

		    @include transition(all 0.15s ease-in-out);

		    // @include transform(rotate(90deg));

		}

	}

}